language: php
php:
  - 5.5
  - 7.0
before_install:
  - curl -O https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-1.7.6.deb && sudo dpkg -i --force-confnew elasticsearch-1.7.6.deb && sudo service elasticsearch restart
  # SQL settings
  - sudo chmod 0644 /etc/mysql/my.cnf
  - sudo sed "/skip-external-locking/a log-bin=mysql-bin\nbinlog_format = ROW\ndatadir = /var/lib/mysql" -i /etc/mysql/my.cnf
  - sudo cat /etc/mysql/my.cnf
  - sudo usermod -g travis mysql
  - sudo chmod -R 0777 /var/lib/mysql
  - sudo service mysql restart
before_script:
  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('root') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
  - composer install --no-interaction --prefer-dist
script:
  - vendor/bin/phpunit
cache:
  directories:
    - vendor/
    - $HOME/.composer/cache
